.root {
	-fx-background-color: lightblue;
	-fx-font-size: 14px;
}

.menu-bar {
	-fx-background-color: lightblue;
}
.button {
	-fx-background-color: lightgreen;
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: black;
}

.label-red {
	-fx-background-color: black;
	-fx-text-fill: red;
}