.root-dark {
    -fx-background-color: dimgrey;
    -fx-text-fill: white;
}

.list-view-dark {
    -fx-control-inner-background: grey;
}

.list-view-dark .list-cell {
    -fx-text-fill: white;
}

.button-dark {
    -fx-background-color: silver;
    -fx-text-fill: white;
}

.root-idk {
    -fx-background-color: blue;
    -fx-text-fill: green;
}

.list-view-idk {
    -fx-control-inner-background: pink;
}

.list-view-idk .list-cell {
    -fx-text-fill: white;
}

.button-idk {
    -fx-background-color: red;
    -fx-text-fill: yellow;
}